Repository RootService/MKDocs, changes with the labels that .github/labeler.yml gives for each.
All labels: pip, npm, actions

.github/labeler.yml:

# Auto-label PRs based on changed file paths, branch names, or commit messages

ci:
  - '.github/workflows/ci.yml'
  - any: ['**']
    branches: ['ci/*']

lint:
  - '.github/workflows/lint.yml'
  - any: ['**']
    branches: ['lint/*']

release:
  - '.github/workflows/release.yml'
  - any: ['**']
    branches: ['release/*']

security:
  - '.github/workflows/security.yml'
  - any: ['**']
    branches: ['security/*']

dependencies:
  - 'requirements.txt'
  - 'requirements-dev.txt'
  - 'package.json'
  - 'package-lock.json'
  - 'pyproject.toml'
  - any: ['**']
    branches: ['dependabot/*']

pip:
  - 'requirements*.txt'
  - 'pyproject.toml'

npm:
  - 'package.json'
  - 'package-lock.json'

actions:
  - '.github/workflows/*.yml'

feat:
  - any: ['**']
    commit: '^feat'

fix:
  - any: ['**']
    commit: '^fix'

docs:
  - any: ['**']
    commit: '^docs'

chore:
  - any: ['**']
    commit: '^chore'

refactor:
  - any: ['**']
    commit: '^refactor'

test:
  - any: ['**']
    commit: '^test'

Some fixes
  .eslintrc
  .gitattributes
  .github/workflows/ci.yml
  .gitignore
  .htmlhintrc
  .markdownlint-cli2.jsonc
  .markdownlintignore
  .prettierignore
  .prettierrc.json
  .stylelintrc.cjs
  commitlint.config.cjs
  eslint.config.cjs
  package-lock.json
  package.json
  project.config.cjs
  pyproject.toml
  requirements.in
  requirements.txt
Labels: pip, npm, actions

Some fixes
  package.json
  project.config.cjs
Labels: npm

Some fixes
  .github/workflows/ci.yml
Labels: actions

Minifix
  .github/workflows/ci.yml
Labels: actions

Minifix
  .github/workflows/ci.yml
Labels: actions

Minifix
  .github/workflows/ci.yml
Labels: actions

Some fixes
  .github/workflows/ci.yml
Labels: actions

Some fixes
  .github/workflows/ci.yml
Labels: actions

Some fixes
  .github/workflows/ci.yml
Labels: actions

Some fixes
  .github/workflows/ci.yml
Labels: actions

Some fixes
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  requirements.txt
Labels: pip, npm, actions

Deployed fa4920d with MkDocs version: 1.6.1
  404.html
  sitemap.xml
  sitemap.xml.gz
Labels: none

Mini Fix
  package-lock.json
Labels: npm

Some fixes
  package-lock.json
  package.json
Labels: npm
