Repository RootService/MKDocs, changes with the labels that .github/labeler.yml gives for each.
All labels: pip, npm, actions

Minifix
  .github/workflows/ci.yml
Labels: actions

Some fixes
  .github/scripts/format-lighthouse.js
  .github/workflows/ci.yml
Labels: actions

Minifix
  .github/scripts/format-lighthouse.js
  .github/workflows/ci.yml
Labels: actions

Some fixes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  docs/howtos/freebsd/remote_install/baseports.md
  docs/howtos/freebsd/remote_install/basesystem.md
Labels: none

Minifix
  README.md
Labels: none

Some fixes
  .github/workflows/ci.yml
  .htmlhintrc
  .lighthouserc.json
  .markdownlint-cli2.jsonc
  .releaserc.json
  .stylelintrc.json
  README.md
  docs/site.webmanifest
  eslint.config.js
  mkdocs.yml
  overrides/main.html
  overrides/partials/copyright.html
  overrides/partials/header.html
  overrides/partials/paypal.html
  snippets/includes/abbreviations.md
  tsconfig.json
Labels: actions

Some fixes
  .github/scripts/format-lighthouse.cjs
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-label.yml
  .github/workflows/pr-labeler.yml
  .stylelintrc.cjs
  .stylelintrc.json
  commitlint.config.cjs
  eslint.config.cjs
Labels: actions

Minifix
  commitlint.config.js
Labels: none

Some fixes
  .desktopConfig.json
  .github/workflows/ci.yml
  .stylelintrc.cjs
  overrides/assets/stylesheets/extra.css
Labels: actions

Minifix
  .desktopConfig.json
Labels: none

Some fixes
  .eslintrc
  .stylelintrc.cjs
  overrides/assets/stylesheets/extra.css
  package-lock.json
  package.json
  pyproject.toml
  requirements.in
  tools/setup_github_config.sh
  tools/update_server_headers.py
  tsconfig.json
Labels: pip, npm

Some fixes
  .stylelintrc.cjs
  overrides/assets/stylesheets/extra.css
Labels: none

Minifix
  .lighthouserc.json
Labels: none

Minifix
  .github/workflows/ci.yml
Labels: actions

Some fixes
  .github/workflows/ci.yml
  .lighthouserc.json
Labels: actions

Some fixes
  .github/workflows/ci.yml
  package-lock.json
  package.json
Labels: npm, actions

Mini Fix
  requirements.txt
Labels: pip

Some fixes
  overrides/main.html
Labels: none

Minifix
  overrides/main.html
Labels: none

Minifix
  overrides/main.html
Labels: none

Some fixes
  overrides/main.html
  overrides/partials/copyright.html
  overrides/partials/header.html
  overrides/partials/paypal.html
Labels: none

Some fixes
  .github/workflows/ci.yml
  overrides/assets/javascripts/extra.js
  snippets/includes/abbreviations.md
Labels: actions

Minifix
  .github/workflows/ci.yml
Labels: actions

Some fixes
  .github/workflows/ci.yml
Labels: actions

Some fixes
  .github/workflows/ci.yml
Labels: actions

Deployed 16ee248 with MkDocs version: 1.6.1
  404.html
  sitemap.xml
  sitemap.xml.gz
Labels: none

Some fixes
  snippets/includes/abbreviations.md
Labels: none

Minifix
  mkdocs.yml
Labels: none

Deployed 64dd7d1 with MkDocs version: 1.6.1
  404.html
  about/contact/index.html
  about/imprint/index.html
  about/privacy/index.html
  about/terms/index.html
  howtos/freebsd/hosting_system/databases/mysql/index.html
  howtos/freebsd/hosting_system/databases/postgresql/index.html
  howtos/freebsd/hosting_system/intro/index.html
  howtos/freebsd/hosting_system/mailserver/amavisd/index.html
  howtos/freebsd/hosting_system/mailserver/clamav/index.html
  howtos/freebsd/hosting_system/mailserver/dovecot/index.html
  howtos/freebsd/hosting_system/mailserver/opendkim/index.html
  howtos/freebsd/hosting_system/mailserver/opendmarc/index.html
  howtos/freebsd/hosting_system/mailserver/postfix/index.html
  howtos/freebsd/hosting_system/mailserver/postfixadmin/index.html
  howtos/freebsd/hosting_system/mailserver/spamassassin/index.html
  howtos/freebsd/hosting_system/nameserver/unbound/index.html
  howtos/freebsd/hosting_system/security/certbot/index.html
  howtos/freebsd/hosting_system/security/openssh/index.html
  howtos/freebsd/hosting_system/webserver/apache/index.html
  howtos/freebsd/hosting_system/webserver/nginx/index.html
  howtos/freebsd/hosting_system/webserver/nodejs/index.html
  howtos/freebsd/hosting_system/webserver/php/index.html
  howtos/freebsd/mfsbsd_image/index.html
  howtos/freebsd/remote_install/baseports/index.html
  howtos/freebsd/remote_install/basesystem/index.html
  howtos/freebsd/remote_install/basetools/index.html
  howtos/freebsd/remote_install/intro/index.html
  howtos/general/getting_started/index.html
  howtos/gentoo/hosting_system/index.html
  howtos/gentoo/remote_install/index.html
  howtos/security/server_hacked/index.html
  index.html
  projects/certbot_wrapper/index.html
  projects/mysql_tuning_primer/index.html
  projects/rootforum_community/index.html
Labels: none

Some fixes
  mkdocs.yml
  overrides/assets/stylesheets/extra.css
  overrides/assets/stylesheets/github.css
  overrides/assets/stylesheets/main.202509142335.css
  overrides/assets/stylesheets/palette.202509142335.css
  overrides/main.html
Labels: none

Deployed 3cd931c with MkDocs version: 1.6.1
  404.html
  about/contact/index.html
  about/imprint/index.html
  about/privacy/index.html
  about/terms/index.html
  assets/stylesheets/extra.css
  assets/stylesheets/github.css
  assets/stylesheets/main.202509142335.css
  assets/stylesheets/palette.202509142335.css
  howtos/freebsd/hosting_system/databases/mysql/index.html
  howtos/freebsd/hosting_system/databases/postgresql/index.html
  howtos/freebsd/hosting_system/intro/index.html
  howtos/freebsd/hosting_system/mailserver/amavisd/index.html
  howtos/freebsd/hosting_system/mailserver/clamav/index.html
  howtos/freebsd/hosting_system/mailserver/dovecot/index.html
  howtos/freebsd/hosting_system/mailserver/opendkim/index.html
  howtos/freebsd/hosting_system/mailserver/opendmarc/index.html
  howtos/freebsd/hosting_system/mailserver/postfix/index.html
  howtos/freebsd/hosting_system/mailserver/postfixadmin/index.html
  howtos/freebsd/hosting_system/mailserver/spamassassin/index.html
  howtos/freebsd/hosting_system/nameserver/unbound/index.html
  howtos/freebsd/hosting_system/security/certbot/index.html
  howtos/freebsd/hosting_system/security/openssh/index.html
  howtos/freebsd/hosting_system/webserver/apache/index.html
  howtos/freebsd/hosting_system/webserver/nginx/index.html
  howtos/freebsd/hosting_system/webserver/nodejs/index.html
  howtos/freebsd/hosting_system/webserver/php/index.html
  howtos/freebsd/mfsbsd_image/index.html
  howtos/freebsd/remote_install/baseports/index.html
  howtos/freebsd/remote_install/basesystem/index.html
  howtos/freebsd/remote_install/basetools/index.html
  howtos/freebsd/remote_install/intro/index.html
  howtos/general/getting_started/index.html
  howtos/gentoo/hosting_system/index.html
  howtos/gentoo/remote_install/index.html
  howtos/security/server_hacked/index.html
  index.html
  projects/certbot_wrapper/index.html
  projects/mysql_tuning_primer/index.html
  projects/rootforum_community/index.html
Labels: none

Some fixes
  mkdocs.yml
  overrides/assets/stylesheets/extra.css
  overrides/assets/stylesheets/github.202509142335.css
  overrides/main.html
Labels: none

Deployed c235b2e with MkDocs version: 1.6.1
  404.html
  about/contact/index.html
  about/imprint/index.html
  about/privacy/index.html
  about/terms/index.html
  assets/stylesheets/extra.css
  assets/stylesheets/github.202509142335.css
  howtos/freebsd/hosting_system/databases/mysql/index.html
  howtos/freebsd/hosting_system/databases/postgresql/index.html
  howtos/freebsd/hosting_system/intro/index.html
  howtos/freebsd/hosting_system/mailserver/amavisd/index.html
  howtos/freebsd/hosting_system/mailserver/clamav/index.html
  howtos/freebsd/hosting_system/mailserver/dovecot/index.html
  howtos/freebsd/hosting_system/mailserver/opendkim/index.html
  howtos/freebsd/hosting_system/mailserver/opendmarc/index.html
  howtos/freebsd/hosting_system/mailserver/postfix/index.html
  howtos/freebsd/hosting_system/mailserver/postfixadmin/index.html
  howtos/freebsd/hosting_system/mailserver/spamassassin/index.html
  howtos/freebsd/hosting_system/nameserver/unbound/index.html
  howtos/freebsd/hosting_system/security/certbot/index.html
  howtos/freebsd/hosting_system/security/openssh/index.html
  howtos/freebsd/hosting_system/webserver/apache/index.html
  howtos/freebsd/hosting_system/webserver/nginx/index.html
  howtos/freebsd/hosting_system/webserver/nodejs/index.html
  howtos/freebsd/hosting_system/webserver/php/index.html
  howtos/freebsd/mfsbsd_image/index.html
  howtos/freebsd/remote_install/baseports/index.html
  howtos/freebsd/remote_install/basesystem/index.html
  howtos/freebsd/remote_install/basetools/index.html
  howtos/freebsd/remote_install/intro/index.html
  howtos/general/getting_started/index.html
  howtos/gentoo/hosting_system/index.html
  howtos/gentoo/remote_install/index.html
  howtos/security/server_hacked/index.html
  index.html
  projects/certbot_wrapper/index.html
  projects/mysql_tuning_primer/index.html
  projects/rootforum_community/index.html
  sitemap.xml
  sitemap.xml.gz
Labels: none

Mini Fix
  snippets/ports/security_py-oauthlib/options
  snippets/ports/www_node22/options
Labels: none

Deployed 078461c with MkDocs version: 1.6.1
  howtos/freebsd/hosting_system/webserver/nodejs/index.html
  howtos/freebsd/remote_install/basetools/index.html
  search/search_index.json
Labels: none

Some fixes
  mkdocs.yml
Labels: none

Deployed ad9e74f with MkDocs version: 1.6.1
  404.html
  about/contact/index.html
  about/imprint/index.html
  about/privacy/index.html
  about/terms/index.html
  howtos/freebsd/hosting_system/databases/mysql/index.html
  howtos/freebsd/hosting_system/databases/postgresql/index.html
  howtos/freebsd/hosting_system/intro/index.html
  howtos/freebsd/hosting_system/mailserver/amavisd/index.html
  howtos/freebsd/hosting_system/mailserver/clamav/index.html
  howtos/freebsd/hosting_system/mailserver/dovecot/index.html
  howtos/freebsd/hosting_system/mailserver/opendkim/index.html
  howtos/freebsd/hosting_system/mailserver/opendmarc/index.html
  howtos/freebsd/hosting_system/mailserver/postfix/index.html
  howtos/freebsd/hosting_system/mailserver/postfixadmin/index.html
  howtos/freebsd/hosting_system/mailserver/spamassassin/index.html
  howtos/freebsd/hosting_system/nameserver/unbound/index.html
  howtos/freebsd/hosting_system/security/certbot/index.html
  howtos/freebsd/hosting_system/security/openssh/index.html
  howtos/freebsd/hosting_system/webserver/apache/index.html
  howtos/freebsd/hosting_system/webserver/nginx/index.html
  howtos/freebsd/hosting_system/webserver/nodejs/index.html
  howtos/freebsd/hosting_system/webserver/php/index.html
  howtos/freebsd/mfsbsd_image/index.html
  howtos/freebsd/remote_install/baseports/index.html
  howtos/freebsd/remote_install/basesystem/index.html
  howtos/freebsd/remote_install/basetools/index.html
  howtos/freebsd/remote_install/intro/index.html
  howtos/general/getting_started/index.html
  howtos/gentoo/hosting_system/index.html
  howtos/gentoo/remote_install/index.html
  howtos/security/server_hacked/index.html
  index.html
  projects/certbot_wrapper/index.html
  projects/mysql_tuning_primer/index.html
  projects/rootforum_community/index.html
Labels: none

Some fixes
  mkdocs.yml
  overrides/.icons/rootservice/paypal.svg
  overrides/assets/favicons/favicon.png
  overrides/assets/images/logo.svg
  overrides/assets/stylesheets/extra.css
  overrides/main.html
  overrides/partials/paypal.html
Labels: none

Some fixes
  mkdocs.yml
  overrides/main.html
  overrides/partials/actions.html
  overrides/partials/alternate.html
  overrides/partials/comments.html
  overrides/partials/consent.html
  overrides/partials/content.html
  overrides/partials/feedback.html
  overrides/partials/footer.html
  overrides/partials/header.html
  overrides/partials/icons.html
  overrides/partials/integrations/analytics.html
  overrides/partials/integrations/analytics/google.html
  overrides/partials/javascripts/announce.html
  overrides/partials/javascripts/base.html
  overrides/partials/javascripts/consent.html
  overrides/partials/javascripts/content.html
  overrides/partials/javascripts/outdated.html
  overrides/partials/javascripts/palette.html
  overrides/partials/language.html
  overrides/partials/languages/de.html
  overrides/partials/languages/en.html
  overrides/partials/logo.html
  overrides/partials/nav-item.html
  overrides/partials/nav.html
  overrides/partials/pagination.html
  overrides/partials/palette.html
  overrides/partials/paypal.html
  overrides/partials/post.html
  overrides/partials/progress.html
  overrides/partials/search.html
  overrides/partials/social.html
  overrides/partials/source-file.html
  overrides/partials/source.html
  overrides/partials/tabs-item.html
  overrides/partials/tabs.html
  overrides/partials/tags.html
  overrides/partials/toc-item.html
  overrides/partials/toc.html
  overrides/partials/top.html
Labels: none

Some fixes
  overrides/partials/actions.html
  overrides/partials/alternate.html
  overrides/partials/comments.html
  overrides/partials/consent.html
  overrides/partials/content.html
  overrides/partials/feedback.html
  overrides/partials/footer.html
  overrides/partials/icons.html
  overrides/partials/integrations/analytics.html
  overrides/partials/integrations/analytics/google.html
  overrides/partials/javascripts/announce.html
  overrides/partials/javascripts/base.html
  overrides/partials/javascripts/consent.html
  overrides/partials/javascripts/content.html
  overrides/partials/javascripts/outdated.html
  overrides/partials/javascripts/palette.html
  overrides/partials/language.html
  overrides/partials/languages/de.html
  overrides/partials/languages/en.html
  overrides/partials/logo.html
  overrides/partials/nav-item.html
  overrides/partials/nav.html
  overrides/partials/pagination.html
  overrides/partials/palette.html
  overrides/partials/post.html
  overrides/partials/progress.html
  overrides/partials/search.html
  overrides/partials/social.html
  overrides/partials/source-file.html
  overrides/partials/source.html
  overrides/partials/tabs-item.html
  overrides/partials/tabs.html
  overrides/partials/tags.html
  overrides/partials/toc-item.html
  overrides/partials/toc.html
  overrides/partials/top.html
Labels: none

.github/labeler.yml:

# Auto-label PRs based on changed file paths, branch names, or commit messages

ci:
  - '.github/workflows/ci.yml'
  - any: ['**']
    branches: ['ci/*']

lint:
  - '.github/workflows/lint.yml'
  - any: ['**']
    branches: ['lint/*']

release:
  - '.github/workflows/release.yml'
  - any: ['**']
    branches: ['release/*']

security:
  - '.github/workflows/security.yml'
  - any: ['**']
    branches: ['security/*']

dependencies:
  - 'requirements.txt'
  - 'requirements-dev.txt'
  - 'package.json'
  - 'package-lock.json'
  - 'pyproject.toml'
  - any: ['**']
    branches: ['dependabot/*']

pip:
  - 'requirements*.txt'
  - 'pyproject.toml'

npm:
  - 'package.json'
  - 'package-lock.json'

actions:
  - '.github/workflows/*.yml'

feat:
  - any: ['**']
    commit: '^feat'

fix:
  - any: ['**']
    commit: '^fix'

docs:
  - any: ['**']
    commit: '^docs'

chore:
  - any: ['**']
    commit: '^chore'

refactor:
  - any: ['**']
    commit: '^refactor'

test:
  - any: ['**']
    commit: '^test'
